@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


/* common style */
*{
    padding: 0;
    margin: 0;
    font-family: "Quicksand", serif;
}

ul, li, a{
    list-style: none;
    text-decoration: none;
    color: black;
}

.container{
    width: 90rem;
    margin: 0 auto;
}
marquee{
    height: 2rem;
    margin-top: 10px;
    color: orange;
    font-weight: 700;
    font-size: 17px;
}



/* shared style */


.bg-skyblue{
    color: rgb(1, 172, 253);
}

.bg-orange{
    color: rgb(254, 163, 1);
}
.bg-lightblue{
    color: rgb(5, 212, 223);
}
.bg-blue{
    color: rgb(93, 88, 239);
}

#btn{
    border-radius: 12px;
    padding: 10px 25px;
    background: rgb(254, 163, 1);
    border: none;
    color: white;
    font-weight: 600;
}


/* header style */

.hamburger{
    display: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}

.nav-item>ul{
    display: flex;
    gap: 50px;
    font-weight: 600;
}

/* banner style */

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}
.banner-header{
    font-weight: 700;
    font-size: 60px;
    line-height: 65px;
}
.banner-disc{
    font-size: larger;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    margin: 20px 0;
}
.btn{
    background-color: black !important;
}


/* mobile responsive style */

@media screen and (max-width: 576px) {

    .container{
        width: 95%;
        margin-top: 10px;
    }
    marquee{
        display: none;
    }

    /* navbar style */

    .nav-item, 
    .nav-btn,
    .logo-name{
        display: none;
    }

    .hamburger{
        display: block;
        font-weight: 700;
        font-size: 20px;
    }

    /* banner style */
    .banner{
        flex-direction: column-reverse;
        text-align: center;
    }
    
    .banner-image>img{
        width: 100%;
        margin-bottom: 20px;
    }
}