@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


/* common style */
*{
    padding: 0;
    margin: 0;
    font-family: "Quicksand", serif;
}

ul, li, a{
    list-style: none;
    text-decoration: none;
    color: black;
}

.container{
    width: 90rem;
    margin: 0 auto;
}
marquee{
    height: 2rem;
    margin-top: 10px;
    color: orange;
    font-weight: 700;
    font-size: 17px;
}



/* shared style */


.bg-skyblue{
    color: rgb(1, 172, 253);
}

.bg-orange{
    color: rgb(254, 163, 1);
}
.bg-lightblue{
    color: rgb(5, 212, 223);
}
.bg-blue{
    color: rgb(93, 88, 239);
}

#btn{
    border-radius: 12px;
    padding: 10px 25px;
    background: rgb(254, 163, 1);
    border: none;
    color: white;
    font-weight: 600;
}


/* header style */

.hamburger{
    display: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}

.nav-item>ul{
    display: flex;
    gap: 50px;
    font-weight: 600;
}

/* banner style */

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}
.banner-header{
    font-weight: 700;
    font-size: 60px;
    line-height: 65px;
}
.banner-disc{
    font-size: larger;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    margin: 20px 0;
}
.btn{
    background-color: black !important;
}

/* curriculum section style */

.curriculum{
    background: url(../assets/bg.png);
    margin-top: 90px;
}
.curriculum>h1{
    text-align: center;
    font-weight: 700;
    font-size: 38px;
}

.curriculum-card{
    margin-top: 60px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    text-align: center;
}

.curriculum-card-item{
    padding: 10px;
    box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
#item-1{
    padding: 10px;
    box-sizing: border-box;
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
#item-2{
    box-sizing: border-box;
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;
    padding: 10px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}


.curriculum-card-item>p{
    margin: 10px 0;
}





/* mobile responsive style */

@media screen and (max-width: 576px) {

    .container{
        width: 95%;
        margin-top: 10px;
    }
    marquee{
        display: none;
    }

    /* navbar style */

    .nav-item, 
    .nav-btn,
    .logo-name{
        display: none;
    }

    .hamburger{
        display: block;
        font-weight: 700;
        font-size: 20px;
    }

    /* banner style */
    .banner{
        flex-direction: column-reverse;
        text-align: center;
    }

    .banner-image>img{
        width: 100%;
        margin-bottom: 20px;
    }

    /* curriculum section style */
    .curriculum-card{
        flex-direction: column;
        gap: 30px;
    }
}