@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


/* common style */
*{
    padding: 0;
    margin: 0;
    font-family: "Quicksand", serif;
}

ul, li, a{
    list-style: none;
    text-decoration: none;
    color: white;
}

.container{
    width: 90rem;
    margin: 0 auto;
}
marquee{
    height: 2rem;
    margin-top: 10px;
    color: orange;
    font-weight: 700;
    font-size: 17px;
}



/* shared style */


.bg-skyblue{
    color: rgb(1, 172, 253);
}

.bg-orange{
    color: rgb(254, 163, 1);
}
.bg-lightblue{
    color: rgb(5, 212, 223);
}
.bg-blue{
    color: rgb(93, 88, 239);
}

#btn{
    border-radius: 12px;
    padding: 10px 25px;
    background: rgb(254, 163, 1);
    border: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
}


/* header style */

.hamburger{
    display: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}

.nav-item>ul{
    display: flex;
    gap: 50px;
    font-weight: 600;
}

/* banner style */

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}
.banner-header{
    font-weight: 700;
    font-size: 60px;
    line-height: 65px;
}
.banner-disc{
    font-size: larger;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    margin: 20px 0;
}
.btn{
    background-color: black !important;
}

/* curriculum section style */

.curriculum{
    background: url(../assets/bg.png);
    margin-top: 90px;
}
.curriculum>h1{
    text-align: center;
    font-weight: 700;
    font-size: 38px;
}

.curriculum-card{
    margin-top: 60px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    text-align: center;
}

.curriculum-card-item{
    padding: 10px;
    box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
#item-1{
    padding: 10px;
    box-sizing: border-box;
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
#item-2{
    box-sizing: border-box;
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;
    padding: 10px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}


.curriculum-card-item>p{
    margin: 10px 0;
}
.arrow{
    text-align: center;
    margin-top: 70px;
    cursor: pointer;
}
.arrow-icon{
    background-color: rgb(252, 170, 17);
    border-radius: 100%;
    padding: 10px 15px;
    color: white;
}

/* story section style */
.story{
    margin-top: 100px;
    background: url(../assets/bg.png),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
  
}
.story>h1{
    margin-top: 20px;
    font-size: 38px;
    text-align: center;
}

.full-image{
    width: 33.75rem;
    border-radius: 16px;
    background: rgb(255, 255, 255);
}
.image>img{
    border-radius: 16px 16px 0px 0px;
    background: rgb(217, 217, 217);
}
.content{
    padding: 0 10px;
}
.content>h1{
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}
.content>p{
    font-size: 16px;
    font-weight: 500;
}
.story-btn{
    border-radius: 47.93px;
    padding: 10px 20px;
    border: none;
    color: white;
    font-weight: 500;
    position: relative;
    top: -22px;
    background: rgb(60, 216, 232);
}

.story-content{
    display: flex;
    justify-content: space-around;
    margin-top: 90px;
}

.card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.card-item{
    border-radius: 16px;
    width: 18.125rem;
    background: rgb(255, 255, 255);
}
.card-item>h1{
    font-size: 21px;
    font-weight: 600;
    padding: 10px 10px;
}
.View{
    display: flex;
    align-items: center;
    justify-content: center;
}
.View>button{
    border-radius: 12px;
    padding: 10px 25px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    color: white;
    background: rgb(17, 17, 17);
}

/* footer style */
.footer{
    height: 31rem;
    background: rgb(1, 172, 253);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.education{
    width: 20%;
}
.education>p{
    font-weight: 500;
    font-size: 16px;
    margin-top: 15px;
}
.kids{
    display: flex;
    align-items: center;
}

.nav, ul,li{
    padding: 5px;
}

.social-icon{
    padding: 15px;
}






/* mobile responsive style */

@media screen and (max-width: 576px) {

    .container{
        width: 95%;
        margin-top: 10px;
    }
    marquee{
        display: none;
    }

    /* navbar style */

    .nav-item, 
    .nav-btn,
    .logo-name{
        display: none;
    }

    .hamburger{
        display: block;
        font-weight: 700;
        font-size: 20px;
    }

    /* banner style */
    .banner{
        flex-direction: column-reverse;
        text-align: center;
    }

    .banner-image>img{
        width: 100%;
        margin-bottom: 20px;
    }

    /* curriculum section style */
    .curriculum-card{
        flex-direction: column;
        gap: 30px;
    }
    .arrow{
        display: none;
    }

    /* story style */
    .full-image{
        display: none;
    }

    .image>img{
        width: 100%;
    }
    .card-item{
        width: 10rem;
    }
    .card-item>h1{
        font-size: 17px;
        list-style: 18px;
    }
    .View{
        width: 90%;
        margin-top: 10px;
    }

    .footer{
        width: 100%;
        flex-direction: column;
        align-items: start;
    }
    .education{
        width: 100%;
        margin: 10px 0;
    }
}